spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
       url: jdbc:h2:mem:test
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/netrientscoders?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
#    username: "${username}"
#    password: "${password}"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
server:
  port: 8080

